




.body>*{
    margin-bottom: 10px;
}

section.body {
    width: 90%;
    margin: 0 auto;
    padding: 0px;
}

table{
    border: 1px solid #000;
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
    
}

td{
    border: 1px solid #000;
}

.c{
    text-align: center;
    font-weight: bold;
}

.z{
    width: 120px;
    text-align: center;
}

.x{
    width: 150px;
    text-align: center;
}

.y{
    width: 100px;
    text-align: right;
}

header a{
    text-decoration: none;
}

header h3{
    text-align: center;
}

section .a{
    border-width: 1px;
    border-style: solid;
    border-color: #999;
    width: 250px;
    border-radius: 12px;
}

input[type="text"]{
    width: 200px;
    height: 25px;
    font-size: 20px;
} 
